@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor00: #f7a833;
    --cor01: #F7D033;
    --cor02: #F9A13B;
    --cor03: #F6F6F6;
    --cor04: #dddddd;
    --cor05: #cccccc;
    --cor06: #191919;

    --fonte-padrao: 'Poppins', sans-serif;
    font-family: var(--fonte-padrao);        
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:#EEEEEE;
    font-family: var(--fonte-padrao);
}




/* CABEÇALHO*/

header {
    background-color: white;
    width: 100vw;
    height: 65px;

    display: flex;
}

header > div.menu {
    width: 30px;
    height: 30px;

    background-image: url(imagens/menu-normal.svg);
    background-repeat: no-repeat;
    background-position: center;
}

header > div.logo {
    background-color: #191919;
    justify-content: center;
}

header > div.pesq {
    background-color: #252525;
}


/* BANNER */

div.banner {
    width: 100vw;
    height: 200px;
}

div.banner > div.imagem {
    width: 95vw;
    height: 200px;
    margin: 10px auto ;

    border-radius: .3em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);

    background-image: url(imagens/Home-400px.jpg);
    background-repeat: no-repeat;
    background-position: center left; 
    background-size: cover;
}



/* PRODUTOS */

div.oferta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0px 10px;
}

div.oferta p {
    font-size: .9em;
    color: #f7a833;
}

.titulo {
    font-size: .9em;
}

.preco {
    font-size: 1.2em;
    font-weight: bolder;
}

.comprar {
    width: 85%;
    height: 2.5em;

    margin-bottom: 10px;

    border: none;
    border-radius: 5em;
    
    background: linear-gradient(to right, rgba(249, 161, 59, 1), rgb(247, 208, 51));

    color: white;
    font-size: .8em;
    font-weight: 900;

    cursor: pointer;
}

div.produtos {
    width: 100vw;
    height: 550px;
    padding: 0px 10px;

    display: flex;
    justify-content: space-around;
    gap: 10px;

}

div.pdt1 {
    width: 50%;
    height: 230px;
    
    background-color: #ffffff;
    border: solid 1px #f7a833;
    border-radius: .4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.pdt1 > .imgpdt1{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-01/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.pdt2 {
    width: 50%;
    height: 230px;
    
    background-color: #ffffff;
    border: solid 1px #f7a833;
    border-radius: .4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.pdt2 > .imgpdt2{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-01/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* RODAPÉ */

footer {
    background-color: #252525;
    width: 100vw;
    height: 160px;
}