@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor00: #f7a833;
    --cor01: #F7D033;
    --cor02: #F9A13B;
    --cor03: #F6F6F6;
    --cor04: #dddddd;
    --cor05: #cccccc;
    --cor06: #191919;

    --fonte-padrao: 'Poppins', sans-serif;
    font-family: var(--fonte-padrao);        
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:#EEEEEE;
    font-family: var(--fonte-padrao);

}

::-webkit-scrollbar {
    width: 05px;
    height: 05px;
}

::-webkit-scrollbar-track {
    background-color: var(--cor04);
    border-radius: 3em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor05);
    border-radius: 3em;
}

#btntop {
    width: 2em;
    height: 2em;
    
    position: fixed;
    right: -50px;
    bottom: 20px;
    
    background: #fff;
    border: solid 1px var(--cor00);
    border-radius: 50%;

    background-image: url(imagens/icon-arrowup.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;

    cursor: pointer;
    z-index: 10;
    /*opacity: 1;
    transform: translateY(100px);*/
    transition: all 0.5s ease;
}

#topo-botao.show-topo-botao {
    transform: translate(0);
}


/* CABEÇALHO*/

header {
    background-color: white;
    width: 100vw;
    height: 65px;

    display: flex;
    align-items: center;
    
}

header > div.menu {
    width: 30px;
    height: 30px;
    margin-left: 20px;

    background-image: url(imagens/menu-normal.svg);
    background-repeat: no-repeat;
    background-position: center;
}

header > div.logo {
    min-width: 200px;
    min-height: 25px;
    margin: auto;

    background-image: url(imagens/logo-tratorino.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

header > form.pesq {
    width: 20px;
    height: 20px;
    margin-right: 20px;

    background-image: url(imagens/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

header > .pesq:hover {
    
}

.pesq-box {
    width: 300px;
    height: 50px;

    display: none;

    position: fixed;
    top: 70px;
    right: 10%;

    background-color: white;
    border-radius: .5em;
}

#pesq-text {
    width: 90%;
    height: 25px;

    display: block;
    margin: 12.5px auto;

    border: solid 1px var(--cor05);
    border-radius: 2em;

    text-align: center;
}

#pesq-text::placeholder {
    color: var(--cor05);    
    font-style: italic;
}






/* BANNER */

div.banner {
    width: 100vw;
    height: 200px;
}

div.banner > div.imagem {
    width: 95vw;
    height: 200px;
    margin: 10px auto ;

    border-radius: .3em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);

    background-image: url(imagens/Home-400px.jpg);
    background-repeat: no-repeat;
    background-position: center left; 
    background-size: cover;
}



/* PRODUTOS */

div.oferta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0px 10px;
}

div.oferta p {
    font-size: .9em;
    color: #f7a833;
}

.titulo {
    font-size: .9em;
}

.preco {
    font-size: 1.2em;
    font-weight: bolder;
}

.comprar {
    width: 85%;
    height: 2.5em;

    margin-bottom: 10px;

    border: none;
    border-radius: 5em;
    
    background: linear-gradient(to right, rgba(249, 161, 59, 1), rgb(247, 208, 51));

    color: white;
    font-size: .8em;
    font-weight: 900;

    cursor: pointer;
}

div.produtos {
    width: 100vw;
    min-height: 350px;
    padding: 0px 10px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;

}

div.basebox {
    width: 100%;
    height: 230px;
    
    background-color: #ffffff;
    border: solid 1px #f7a833;
    border-radius: .4rem;

    text-align: center;
    line-height: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imgpdt1{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-01/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imgpdt1:hover {
    background-image: url(imagens/produto-01/02.jpg);
}

.imgpdt2{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-02/02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imgpdt2:hover {
    background-image: url(imagens/produto-02/01.jpg);
}

.imgpdt3{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-03/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imgpdt3:hover {
    background-image: url(imagens/produto-03/02.jpg);
}

.imgpdt4{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-04/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imgpdt4:hover {
    background-image: url(imagens/produto-04/02.jpg);
}

.imgpdt5{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-05/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imgpdt5:hover {
    background-image: url(imagens/produto-05/02.jpg);
}

.imgpdt6{
    width: 150px;
    height: 100px;

    background-image: url(imagens/produto-06/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imgpdt6:hover {
    background-image: url(imagens/produto-06/02.jpg);
}

.carregar {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.mostrar {
    width: 40%;
    height: 2.5em;

    margin-bottom: 10px;

    border: none;
    border-radius: 5em;
    
    background: linear-gradient(to right, rgba(249, 161, 59, 1), rgb(247, 208, 51));

    color: white;
    font-size: .8em;
    font-weight: 900;

    cursor: pointer;    
}


/* RODAPÉ */

footer {
    background-color: #252525;

    width: 100vw;
    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 300;
    font-size: .7em;
    text-align: center;
    letter-spacing: .04rem;
    line-height: 1.2rem;
        
    color: white;
}

footer > p.infos {
    padding-top: 10px;
}

footer > div.icons {
    width: 135px;
    height: 25px;  
    margin: auto;
    display: flex;

}

div.icons > .fb {
    width: 100vw;
    height: 25px;

    background-image: url(imagens/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

div.icons > .whats {
    width: 100vw;
    height: 25px;

    background-image: url(imagens/icon-whats.svg);
    background-repeat: no-repeat;    
    background-position: center;
}

div.icons > .pin {
    width: 100vw;
    height: 25px;

    background-image: url(imagens/icon-pin.svg);
    background-repeat: no-repeat;
    background-position: center;

}

div.icons > .mail {
    width: 100vw;
    height: 25px;

    background-image: url(imagens/icon-mail.svg);
    background-repeat: no-repeat;
    background-position: center;

}

footer > .copy {    
    letter-spacing: normal;
    font-size: 0.8em;
}